* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  font-family: Arial;
}

html {
  font-size: 10px;
}

@media (min-width: 768px) {
  body {
    background: #fafafa;
  }
}
.tab-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  min-height: 50px;
  background-color: #f2f2f2;
  position: sticky;
  bottom: 0;
  padding: 0 26px;
  box-sizing: border-box;
}

header {
  width: 100%;
  min-height: 44px;
  background-color: #f2f2f2;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  header {
    background-color: #ffff;
    border-bottom: 1px solid #dbdbdb;
  }
}
header .header-tablet {
  display: none;
}
@media (min-width: 768px) {
  header .header-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  header .header-tablet .header-tablet__logo img {
    max-width: 103px;
    max-height: 100%;
  }
  header .header-tablet .header-tablet__search {
    padding: 7px;
    background-color: #fafafa;
    height: 28px;
    min-width: 215px;
    width: 215px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
  }
  header .header-tablet .header-tablet__search .header-tablet__input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-tablet .header-tablet__search .header-tablet__input .header-text {
    font-size: 1.4rem;
    color: #8e8e8e;
  }
  header .header-tablet .header-tablet__search .header-tablet__input .header-img img {
    color: #8e8e8e;
    width: 1rem;
    height: 1rem;
    margin-right: 6px;
  }
  header .header-tablet .header-tablet__icons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    width: 198px;
    padding-left: 24px;
  }
  header .header-tablet .header-tablet__icons .header-profile {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-size: cover;
  }
  header .header-tablet .header-tablet__icons .header-menssenger,
header .header-tablet .header-tablet__icons .header-explorer,
header .header-tablet .header-tablet__icons .header-like {
    width: 22px;
    height: 24px;
    border-radius: 50%;
  }
}
header .header-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
header .header-cell .logo-img {
  width: 105px;
  height: auto;
}
header .header-cell .action-icon {
  width: 24px;
  height: auto;
  cursor: pointer;
}
@media (min-width: 768px) {
  header .header-cell {
    display: none;
  }
}

@media (min-width: 920px) {
  main .main-container {
    padding: 30px;
    display: flex;
    width: 100%;
    max-width: 935px;
    margin: auto;
    gap: 28px;
  }
}
@media (max-width: 768px) {
  main .main-container {
    padding: 30px;
    display: flex;
    max-width: 600px;
    margin: auto;
  }
}
main .stories-container {
  display: flex;
  padding: 9px 10px;
  gap: 20px;
  overflow-x: auto;
}
@media (min-width: 768px) {
  main .stories-container {
    border: 1px solid #dbdbdb;
    background-color: #ffff;
    margin-bottom: 24px;
  }
}
main .stories-container::-webkit-scrollbar {
  display: none;
}
main .stories-container .story-item {
  text-align: center;
}
main .stories-container .story-item .content-img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(215deg, blue 10%, #fd1d1d, #fcb045);
  position: relative;
  margin-bottom: px;
}
main .stories-container .story-item .content-img .story-img {
  border: 2px solid #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-size: cover;
}
main .stories-container .story-item .content-img .alert-live {
  bottom: -3px;
  padding: 2px 4px;
  border-radius: 3px;
  position: absolute;
  border: 1px solid #fff;
  color: #ffff;
  background: linear-gradient(215deg, #833ab4, #fd1d1d, #fcb045);
}
main .feed-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 768px) {
  main .feed-container {
    gap: 60px;
  }
}
main .feed-container .card-post {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  main .feed-container .card-post {
    border: 1px solid #dbdbdb;
    background: #ffff;
  }
}
main .feed-container .card-post .card-header {
  display: flex;
  align-items: center;
  padding: 11px 10px;
  gap: 10px;
}
main .feed-container .card-post .card-header .author-img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: cover;
}
main .feed-container .card-post .card-header .author-infos .author-name {
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1.5px;
}
main .feed-container .card-post .card-header .author-infos .author-location {
  font-size: 1.1rem;
}
main .feed-container .card-post .card-header .more-icon {
  cursor: pointer;
  margin-left: auto;
  height: 3px;
}
main .feed-container .card-post .post-img {
  width: 100%;
  height: 375px;
  object-fit: cover;
}
main .feed-container .card-post .post-infos {
  padding: 12px 15px;
}
main .feed-container .card-post .post-infos .post-actions {
  display: flex;
  gap: 15px;
}
main .feed-container .card-post .post-infos .post-actions .action-icon {
  height: 20px;
  width: auto;
  cursor: pointer;
}
main .feed-container .card-post .post-infos .post-actions .action-icon:last-child {
  margin-left: auto;
}
main .feed-container .card-post .post-infos .likes-info {
  display: flex;
  align-items: center;
  padding: 12px 0 5px;
}
main .feed-container .card-post .post-infos .likes-info .people-like-img {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 6.5px;
}
main .feed-container .card-post .post-infos .likes-info .likes-quantity {
  font-size: 1.3rem;
}
main .feed-container .card-post .post-infos .post-caption {
  font-size: 1.4rem;
}
main .feed-container .card-post .post-infos .text-comments {
  display: block;
  font-size: 1.4rem;
  color: #8e8e8e;
  margin: 10px 0;
  line-height: 1;
}
main .feed-container .card-post .post-infos .text-time {
  font-size: 1rem;
  color: #8e8e8e;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 4px;
}
main .feed-container .card-post .card-footer {
  display: none;
}
@media (min-width: 768px) {
  main .feed-container .card-post .card-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 5px 12px;
    border-top: 1px solid #efefef;
  }
  main .feed-container .card-post .card-footer img {
    width: 24px;
    height: 24px;
    margin: 8px 16px 8px 0;
  }
  main .feed-container .card-post .card-footer .card-footer_text {
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 600;
    color: #0095f6;
    opacity: 0.3;
    line-height: 1.8rem;
  }
  main .feed-container .card-post .card-footer textarea {
    height: 18px;
    font-size: 1.4rem;
    color: #8e8e8e;
    border: none;
    outline: none;
    resize: none;
    min-width: 170px;
  }
}
main .aside-container {
  display: none;
}
@media (min-width: 920px) {
  main .aside-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    min-width: 300px;
  }
  main .aside-container .user-infos {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }
  main .aside-container .user-infos img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 15px;
  }
  main .aside-container .user-infos .user-name {
    font-weight: 600;
    font-size: 1.4rem;
    margin-bottom: 1.5px;
  }
  main .aside-container .user-infos .user-fullname {
    color: #8e8e8e;
    font-size: 1.4rem;
  }
  main .aside-container .user-infos .logout-action {
    color: #0095f6;
    font-weight: 600;
    text-decoration: none;
    margin-left: auto;
  }
  main .aside-container .suggestions-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }
  main .aside-container .suggestions-container .suggestion-title {
    color: #8e8e8e;
    font-weight: 600;
    margin-bottom: 10px;
  }
  main .aside-container .suggestions-container .suggestion {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
  }
  main .aside-container .suggestions-container .suggestion img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 15px;
  }
  main .aside-container .suggestions-container .suggestion .follow-action {
    color: #0095f6;
    font-weight: 600;
    text-decoration: none;
    margin-left: auto;
  }
  main .aside-container .suggestions-container .suggestion .suggestion-name {
    font-size: 1.4rem;
  }
  main .aside-container .suggestions-container .suggestion .suggestion-common-followers {
    color: #8e8e8e;
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .tab-bar {
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
