@import "../styles.scss";

header {
  width: 100%;
  min-height: 44px;
  background-color: $background-secondary;
  padding: 10px 20px;

  @media (min-width: $breakpoint-tablet) {
    background-color: $highlight-contrast-color;
    border-bottom: 1px solid $border-card;
  }

  .header-tablet {
    display: none;

    @media (min-width: $breakpoint-tablet) {
      @include simple-flex(space-between, center, row);

      .header-tablet__logo {
        img {
          max-width: 103px;
          max-height: 100%;
        }
      }

      .header-tablet__search {
        padding: 7px;
        background-color: $background-primary;
        height: 28px;
        min-width: 215px;
        width: 215px;
        border: 1px solid $border-card;
        border-radius: 3px;
        .header-tablet__input {
          display: flex;
          justify-content: center;
          align-items: center;
          .header-text {
            font-size: 1.4rem;
            color: $text-secondary;
          }
          .header-img img {
            color: $text-secondary;
            width: 1rem;
            height: 1rem;
            margin-right: 6px;
          }
        }
      }

      .header-tablet__icons {
        @include simple-flex(space-between, flex-end, row);
        width: 198px;
        padding-left: 24px;

        .header-profile {
          @include box-round(22px);
        }
        .header-menssenger,
        .header-explorer,
        .header-like {
          width: 22px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }
  }

  .header-cell {
    @include simple-flex(space-between, center, row);

    .logo-img {
      width: 105px;
      height: auto;
    }

    .action-icon {
      width: 24px;
      height: auto;
      cursor: pointer;
    }

    @media (min-width: $breakpoint-tablet) {
      display: none;
    }
  }
}

main {
  
  @media (min-width: $breakpoint-laptop){
    .main-container {
      padding: 30px;
      display: flex;
      width: 100%;
      max-width: 935px;
      margin: auto;
      gap: 28px;
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .main-container {
      padding: 30px;
      display: flex;
      max-width: 600px;
      margin: auto;
    }
  }

  .stories-container {
    display: flex;
    padding: 9px 10px;
    gap: 20px;
    overflow-x: auto;

    @media (min-width: $breakpoint-tablet) {
      border: 1px solid rgba(219, 219, 219, 1);
      background-color: $highlight-contrast-color;
      margin-bottom: 24px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .story-item {
      text-align: center;
      .content-img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(215deg, blue 10%, #fd1d1d, #fcb045);
        position: relative;
        margin-bottom: px;
        .story-img {
          border: 2px solid #fff;
          @include box-round(60px);
        }
        .alert-live {
          bottom: -3px;
          padding: 2px 4px;
          border-radius: 3px;
          position: absolute;
          border: 1px solid #fff;
          color: $highlight-contrast-color;
          background: linear-gradient(215deg, #833ab4, #fd1d1d, #fcb045);
        }
      }
    }
  }

  .feed-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      gap: 60px;
    }

    .card-post {
      display: flex;
      flex-direction: column;
      @media (min-width: $breakpoint-tablet) {
        border: 1px solid $border-card;
        background: $highlight-contrast-color;
      }

      .card-header {
        display: flex;
        align-items: center;
        padding: 11px 10px;
        gap: 10px;

        .author-img {
          @include box-round(32px);
        }

        .author-infos {
          .author-name {
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 1.5px;
          }

          .author-location {
            font-size: 1.1rem;
          }
        }

        .more-icon {
          cursor: pointer;
          margin-left: auto;
          height: 3px;
        }
      }

      .post-img {
        width: 100%;
        height: 375px;
        object-fit: cover;
      }

      .post-infos {
        padding: 12px 15px;

        .post-actions {
          display: flex;
          gap: 15px;

          .action-icon {
            height: 20px;
            width: auto;
            cursor: pointer;

            &:last-child {
              margin-left: auto;
            }
          }
        }

        .likes-info {
          display: flex;
          align-items: center;
          padding: 12px 0 5px;

          .people-like-img {
            @include box-round(17px);
            margin-right: 6.5px;
          }

          .likes-quantity {
            font-size: 1.3rem;
          }
        }

        .post-caption {
          font-size: 1.4rem;
        }
        .text-comments {
          display: block;
          font-size: 1.4rem;
          color: $text-secondary;
          margin: 10px 0;
          line-height: 1;
        }

        .text-time {
          font-size: 1rem;
          color: $text-secondary;
          line-height: 1;
          text-transform: uppercase;
          margin-bottom: 4px;
        }
      }

      .card-footer {
        display: none;
        @media (min-width: $breakpoint-tablet) {
          @include simple-flex(flex-start, center, row);

          padding: 5px 12px;
          border-top: 1px solid $border-card-secondary;
          img {
            width: 24px;
            height: 24px;
            margin: 8px 16px 8px 0;
          }
          .card-footer_text {
            margin-left: auto;
            font-size: 1.4rem;
            font-weight: 600;
            color: rgba(0, 149, 246);
            opacity: 0.3;
            line-height: 1.8rem;
          }
          textarea {
            height: 18px;
            font-size: 1.4rem;
            color: $text-secondary;
            border: none;
            outline: none;
            resize: none;
            min-width: 170px;
          }
        }
      }
    }
  }

  .aside-container {
    display: none;
    @media (min-width: $breakpoint-laptop) {
      @include simple-flex(flex-start, flex-start, column);
      min-width: 300px;

      .user-infos {
        @include simple-flex(flex-start, center);
        width: 100%;
        margin-bottom: 20px;

        img {
          @include box-round(56px);
          margin-right: 15px;
        }

        .user-name {
          font-weight: 600;
          font-size: 1.4rem;
          margin-bottom: 1.5px;
        }

        .user-fullname {
          color: #8e8e8e;
          font-size: 1.4rem;
        }

        .logout-action {
          @include action;
          margin-left: auto;
        }
      }

      .suggestions-container {
        @include simple-flex(flex-start, flex-start, column);
        width: 100%;

        .suggestion-title {
          color: #8e8e8e;
          font-weight: 600;
          margin-bottom: 10px;
        }

        .suggestion {
          @include simple-flex(flex-start, center);
          width: 100%;
          margin-bottom: 10px;

          img {
            @include box-round(32px);
            margin-right: 15px;
          }

          .follow-action {
            @include action;
            margin-left: auto;
          }

          .suggestion-name {
            font-size: 1.4rem;
          }

          .suggestion-common-followers {
            color: #8e8e8e;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

.tab-bar {
  @media (min-width: $breakpoint-tablet) {
    display: none;
  }
}
