@mixin simple-flex($justify: flex-start, $align: flex-start, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin box-round($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
  background-size: cover;
}

@mixin font-text ($weight:600, $size:1.6rem, $line:2.1rem, $spacing:-0.33px) {
  font-weight: $weight;
    font-size: $size;
    line-height: $line;
    letter-spacing: $spacing;
}

@mixin action() {
  color: #0095f6;
  font-weight: 600;
  text-decoration: none;
}

  
